{% extends 'base.html' %}
{% load static %}
    {% block content %}
    <div class="table-container">
        <h2>Fine Table</h2>
        <table>
            <thead>
                <tr>
                    <th>Student ID</th>
                    <th>Student Name</th>
                    <th>Total Fine</th>
                    <th>Paid Fine</th>
                    <th>Remaining Fine</th>
                    <th>Transaction Details</th>
                </tr>
            </thead>
            <tbody>
                {% for group in grouped_transactions %}
                    <tr>
                        <td>{{ group.student_id }}</td>
                        <td>{{ group.student_name }}</td>
                        <td>{{ group.total_fine }}</td>
                        <td>{{ group.paid_fine }}</td>
                        <td>{{ group.remaining_fine }}</td>
                        <td>
                            <ul>
                                {% for transaction in group.transactions %}
                                    <li>Transaction ID: {{ transaction.id }} <br>
                                        Amount: {{ transaction.amount }} <br> 
                                        Date: {{ transaction.payment_date }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endblock %}
