{% extends 'base.html' %}
{% load static %}
    {% block content %}
        <div class="main-content">
            <div class="card">
                <div class="ver">
                    <h2>Total Books</h2>
                    <p>500</p>
                </div>
                <a href="{% url 'book_table' %}">See All</a>
            </div>
            <div class="card">
                <div class="ver">
                    <h2>Total Students</h2>
                    <p>500</p>
                </div>
                <a href="{% url 'student_table' %}">See All</a>
            </div>
            <div class="card">
                <div class="ver">
                    <h2>Books Issued</h2>
                    <p>500</p>
                </div>
                <a href="{% url 'issue_table' %}">See All</a>

            </div>
            <div class="card">
                <div class="ver">
                    <h2>Books Returned</h2>
                    <p>500</p>
                </div>
                <a href="{% url 'return_table' %}">See All</a>
            </div>
            <div class="card">
                <div class="ver">
                    <h2>Fine remain</h2>
                    <p>500</p>
                </div>
                <a href="{% url 'fine_table' %}">See All</a>
            </div>

        </div>
    {% endblock %}

