{% extends 'base.html' %}
{% load static %}
    {% block content %}
        <div class="main-content">
            <h1> Issue Book </h1>
            <div class="issue_form">
                <form id="issueForm" method="POST" action="/issue_book_form">
                {% csrf_token %}
                    <label for="book">Book ID :</label><br>
                    <input type="number" id="book" name="book_id" autocomplete="off"><br>

                    <label for="user">Student ID</label><br>
                    <input type="number" id="user" name="student_id" required><br><br>

                    <input type="Submit" value="Issue Book">
                </form>
                <!-- <p>error message</p> -->
            </div>
            <p style="color: white;">*recent 5 entries</p>
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>Issue ID</th>
                            <th>Book Name</th>
                            <th>Student Name</th>
                            <th>Issue Date</th>
                            <th>Due Date</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in issue_data %}
                        <tr>
                            <td>{{data.id}}</td>
                            <td>{{data.book.title}}</td>
                            <td>{{data.student.name}}</td>
                            <td>{{data.issue_date}}</td>
                            <td>{{data.due_date}}</td>
                            <td>{{data.status}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <a class="btn" href="{% url 'issue_table' %}">See All</a>
            </div>
        </div>
    {% endblock %}

