{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static '/css/tables.css' %}">
    <link rel="stylesheet" href="{% static '/css/issue_book.css' %}">
</head>
<body>
    <div class="navbar">
        <h1>Library Dashboard</h1>
    </div>
    <h2> Issue Book List </h2>
        <label style="color: black;">Search</label>
        <input type="text">
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Issue ID</th>
                    <th>Book Name</th>
                    <th>Book ID</th>
                    <th>Student Name</th>
                    <th>Student ID</th>
                    <th>Issue Date</th>
                    <th>Due Date</th>
                    <th>Status</th>
                    <th>fine</th>
                </tr>
            </thead>
            <tbody>
                {% for data in issue_data %}
                <tr>
                    <td>{{data.id}}</td>
                    <td>{{data.book.title}}</td>
                    <td>{{data.book.id}}</td>
                    <td>{{data.student.name}}</td>
                    <td>{{data.student.id}}</td>
                    <td>{{data.issue_date}}</td>
                    <td>{{data.due_date}}</td>
                    <td>{{data.status}}</td>
                    <td>{{data.calculate_fine}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>