{% extends 'base.html' %}
{% load static %}
    {% block content %}
<div class="main" style="display: flex; flex-direction : column;">
    <h2> Issue Book List </h2>
        <label style="color: black;">Search</label>
        <input type="text" style="width: 150px;">
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Issue ID</th>
                    <th>Book Name</th>
                    <th>Book ID</th>
                    <th>Student Name</th>
                    <th>Student ID</th>
                    <th>Issue Date</th>
                    <th>Due Date</th>
                    <th>Status</th>
                    <th>fine</th>
                </tr>
            </thead>
            <tbody>
                {% for data in issue_data %}
                <tr>
                    <td>{{data.id}}</td>
                    <td>{{data.book.title}}</td>
                    <td>{{data.book.id}}</td>
                    <td>{{data.student.name}}</td>
                    <td>{{data.student.id}}</td>
                    <td>{{data.issue_date}}</td>
                    <td>{{data.due_date}}</td>
                    <td>{{data.status}}</td>
                    <td>{{data.calculate_fine}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
    {% endblock %}